{% extends 'base.html.twig' %}

{% block body %}

        <div id="masthead">  
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="lisert"></div>
                <div class="top-spacer">
                    <h1>{{ evaluation.FarmName }}
                      <p class="lead">{{ evaluation.farmCategoryName }}</p>
                    </h1>
                </div>
              </div>
            </div> 
          </div><!-- /cont -->
        </div>

        <div class="container">
          <div class="row">
            
            <div class="col-md-12"> 
              
              <div class="panel">
                <div class="panel-body">
                  
                    <div class="row">

                        <!-- LEFT -->
                        <div class="col-md-4" style="padding:24px;">
                            <h2>Échelle de Riches Terres</h2>
                            <img src="img/RichesTerres.png" alt="Riches Terres" class="responsive" style="margin-bottom:36px; cursor:pointer;">
                            <p style="text-align: center;">
                                Certifié par
                                <img src="img/ecocert.png" alt="Ecocert" style="height: 40px;"/>
                            </p>

                            <hr />
                            <h2>Partager</h2>
                            <input type="text" placeholder="http://rt.ly/1337" id="share"><br>
                            <div class="btn-group" style="margin:auto; width:150px; display:block;">
                                    <a class="btn btn-twitter btn-lg" href="#"><i class="fa fa-twitter icon-large"></i></a>
                                   <a class="btn btn-facebook btn-lg" href="#"><i class="fa fa-facebook icon-large"></i></a>
                                   <a class="btn btn-google-plus btn-lg" href="#"><i class="fa fa-google-plus icon-large"></i></a>
                              </div>
                        </div>
                        <!-- / LEFT -->

                        <!-- RIGHT -->
                        <div class="col-md-8" id="right">
                            
                            <div class="row td-1">
                                <div class="col-md-4" style="margin-top:24px;">
                                    <img src="img/christian.jpg" alt="Dat Farmer" class="rounded">
                                </div>
                                <div class="col-md-8">
                                    <h3>Christian Aguerre</h3>
                                    <p class="quote">
Située au pied de l’Ursumu et du pic du Mondarrain, HARANEA est une petite ferme au relief pentu sur laquelle nous valorisons plusieurs productions : les poulets et les œufs, le porc basque et le piment d’Espelette. 
                                    </p>
                                </div>
                            </div>
                            <div class="row td-2" style="padding-top:24px;">
                                <h2 style="margin-bottom:24px; margin-left:12px; text-align:left;">L'exploitation</h2>
                                <div class="col-md-6">
                                    <a href="{{ evaluation.farmPhotoUrl }}" class="popup"><img src="{{ evaluation.farmPhotoUrl }}" alt="Photo de l'exploitation" class="responsive fancy-image"></a>
                                </div>
                                <div class="col-md-6">
                                    <div id="map">
                                        <img src="https://maps.googleapis.com/maps/api/staticmap?{{
                                            [
                                                'size=340x260',
                                                'zoom=8',
                                                'center=' ~ evaluation.farmPositionLatitude ~ ',' ~ evaluation.farmPositionLongitude,
                                                'key=' ~ google_api_key,
                                                'markers=|' ~ evaluation.farmPositionLatitude ~ ',' ~ evaluation.farmPositionLongitude
                                            ]|join('&')
                                        }}" />
                                    </div>
                                </div>
                            </div>

                            <div class="row hidden showMe" style="margin-right:8px;">
                                <a href="#" class="btn btn-info"><i class="fa fa-arrow-left"></i></a>
                                <h2>Environnement</h2>
                                <table class="table">
                                    <tr>
                                        <td width="25%">
                                            <h4>Paramètre</h4>
                                        </td>
                                        <td>
                                            <span>4/5</span>
                                        </td>
                                        <td>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque veniam, commodi ipsum minima in quos recusandae? Sunt quisquam dolorum modi eligendi eos, commodi sint fugiat atque maiores dolorem, eveniet odio!</p>
                                        </td>
                                        <td>
                                            <a href="#test-popup" class="btn btn-primary popup-text">Détails</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="25%">
                                            <h4>Paramètre</h4>
                                        </td>
                                        <td>
                                            <span>4/5</span>
                                        </td>
                                        <td>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium cupiditate hic facere ea veritatis illo quidem dolor eum ipsum adipisci, nostrum qui magni, totam alias eveniet fuga. Dignissimos, nobis, laudantium.</p>
                                        </td>
                                        <td>
                                            <a href="#test-popup" class="btn btn-primary popup-text">Détails</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="25%">
                                            <h4>Paramètre</h4>
                                        </td>
                                        <td>
                                            <span>4/5</span>
                                        </td>
                                        <td>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quis accusantium rem dicta consectetur aut blanditiis harum quibusdam voluptatum, praesentium tempora maiores repudiandae excepturi impedit nihil vitae cum, nesciunt. Doloribus!</p>
                                        </td>
                                        <td>
                                            <a href="#test-popup" class="btn btn-primary popup-text">Détails</a>
                                        </td>
                                    </tr>
                                    <tr style="background:#eee;">
                                        <td>
                                            <h4 style="color:#000"><b>Moyenne</b></h4>
                                        </td>
                                        <td>
                                            <span>4/5</span>
                                        </td>
                                        <td>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quis atque voluptate, suscipit similique eligendi amet aperiam, impedit, id ea tenetur voluptatum praesentium laboriosam asperiores rem accusantium qui! Id, odit!</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                        <!-- / RIGHT -->
                    </div>

                </div>
              </div>
                                                                                               
                                                            
                                                              
            </div><!--/col-12-->
          </div>
        </div>
        <hr />

        <footer>
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <h3>Réseaux sociaux</h3>
                  <div class="btn-group">
                   <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
                   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
                   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
                </div>
              </div>
              <div class="col-sm-6">
                <h3 style="text-align:center;">Mentions légales</h3>
                <p class="copyright" style="text-align:center;">
                    © 2015 Tous droits réservés Riches Terres<br>
                    Réalisé avec <span>♥</span> par <a href="http://baptiste-wallerich.fr">Baptiste Wallerich</a>
                </p>
            </div>
          </div>
        </footer>
        
        <!-- POPUP -->
        <div id="test-popup" class="white-popup mfp-hide">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus consequuntur obcaecati perferendis? Eius omnis, doloribus voluptate laudantium excepturi, facilis magni tempora tempore quos ipsa asperiores minus assumenda repellendus consectetur voluptates!</p>
        </div>
{% endblock %}
