{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>{{ evaluation.farmName }}</h1>
            <div>
                <img src="{{ evaluation.farmPhotoUrl }}" width="400" />
                <p><a href="{{ evaluation.farmWebsiteUrl }}">{{ evaluation.farmWebsiteUrl }}</a></p>
            </div>
        </div>
    </div>
{% endblock %}
