/* override bootstrap styles */
@import url('//fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');
@import url('//fonts.googleapis.com/css?family=Roboto:400,700|Pontano+Sans|Poppins');

.navbar-form input, .form-inline input {
  width:auto;
}

body {
  padding-top:50px;
  color:#646464;
  background-color:#efefef;
  overflow-x:hidden;
}

h1,h2,h3,.highlight,.navbar a,#masthead h4 {
  font-family:'Poppins',arial narrow,sans-serif;
  font-family:'Pontano Sans',arial narrow,sans-serif;
}

footer {

  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  background-color:#cecece;
 
}

.lisert {
  background: #38927A;
  height: 5px;
  width: 100%;
  margin-top: 40px;
}

#masthead {
  min-height: 200px;
  background-color:#4E9483;
  background:url('../img/farm.jpg') no-repeat center fixed;
  background:url('../img/farm2.jpg') no-repeat center -450px fixed;
  background:url('../img/sunrise.jpg') no-repeat center -550px fixed;
  background-size: cover;
  color:#000;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  font-weight: bold;
  color: #333;
}

#masthead .well {
  margin-top:31px;
  border-color:#000022;
  color:#efefff;
  min-height:127px;
}

#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.top-spacer {
  background-color:#ffffff;
  height:70px;
  padding:40px;
  height: 160px;
  overflow: hidden;
  opacity: 0.9;
}

a,a:hover {
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 60px;
  }
}

.navbar-bright {
  background-color:#564035;
  color:#fff;
  margin-bottom: 0;
  border-width: 0;
}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
  color:#ccccdd;
  font-size:14px;
}
.navbar-bright a {
  transition:all 0.35s linear;
}
.navbar-bright li > a:hover {
  background-color:#77655B;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
  border-width:0;
}

.navbar-toggle:hover {
  background-color:#fff;
}

.panel {
  border-color:transparent;
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}
    
.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}

#masthead .well {
  display: none;
}
img.responsive {
  width: 100%;
  max-width: 100%;
}
#map {
  width: 100%;
  height: 200px;
  border:6px solid #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  margin-bottom: 36px;
}
h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 24px;
}
input#share {
  border:6px solid #fff;
  box-shadow: inset 0 0 1px rgba(0,0,0,.4), 0 0 10px rgba(0,0,0,0.25);
  background: #eee;
  padding:12px;
  width: 100%;
  margin-bottom: 24px;
}
img.rounded {
  border-radius: 50%;
  width: 80%;
  display: block;
  margin: auto;
}
.quote {
  line-height: 160%;
  text-align: justify;
}
.fancy-image {
  border:6px solid #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  cursor: pointer;
}

.td-1,
.td-2 {
  transition-duration:0.1s;
}

.td-1 {
  animation-delay:0.1s;
}
.td-2 {
  animation-delay:0.3s;
}
.hidden {
  display: none;
}
table span {
  padding:24px;
  font-size: 2.5rem;
}
table td {
  text-align: center;
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 80%;
  margin: 20px auto;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.9s ease-out;
  -moz-transition: all 0.9s ease-out;
  -o-transition: all 0.9s ease-out;
  transition: all 0.9s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

#rating {
    cursor: pointer;
}

.description {
    text-align: left;
    font-size: 0.8em;
}
